@page "/"

@using broken_picturephone_blazor.Data
@inject LobbyService LobbyService

@if (lobby == null)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h4>Name: </h4>
                <input @bind="playerName" class="form-control" placeholder="name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h4>Lobby name:</h4>
                <input @bind="lobbyName" class="form-control" placeholder="lobby name">
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col-sm-3">
                <button @onclick="CreateOrJoinLobby" class="btn btn-primary">Join or create lobby</button>
            </div>
        </div>
    </div>
}
else 
{
    <h1>Connected to @lobby.Name as @us.Name</h1>
    <button @onclick="LeaveLobby" class="btn btn-primary">Leave lobby</button>

    <h3>Players (@lobby.Players.Count)</h3>
    <ul>
        @foreach (var player in lobby.Players)
        {
            <li>
                @player.Name
                @if (player.IsModerator)
                {
                    <strong> M</strong>
                }
                @if (us.IsModerator && player != us)
                {
                    <button @onclick="@(() => lobby.KickPlayer(player))" class="btn btn-outline-danger">Kick</button>
                    @if (!player.IsModerator) 
                    {
                        <button @onclick="@(() => lobby.MakeModerator(player))" class="btn btn-outline-info">Make moderator</button>
                    }
                }
            </li>
        }
    </ul>
}


@code
{
    private string playerName;
    private string lobbyName;

    private Player us;
    private Lobby lobby;

    public void CreateOrJoinLobby()
    {
        try
        {
            (lobby, us) = LobbyService.CreateOrJoinLobby(lobbyName, playerName);
        }
        catch (PlayerExistsException)
        {
            // TODO: display error
            return;
        }

        lobby.OnLobbyUpdated += OnLobbyUpdated;
        lobby.OnPlayerRemoved += OnPlayerRemoved;
    }

    public void LeaveLobby()
    {
        LobbyService.LeaveLobby(us, lobby);
    }

    public async void OnLobbyUpdated()
    {
        await InvokeAsync(StateHasChanged);
    }

    public async void OnPlayerRemoved(Player player)
    {
        if (player == us)
        {
            lobby.OnLobbyUpdated -= OnLobbyUpdated;
            lobby.OnPlayerRemoved -= OnPlayerRemoved;

            player = null;
            lobby = null;

            await InvokeAsync(StateHasChanged);
        }
    }
}